version: '3'

services:
  web:
    depends_on:
      - db
    image: containerseverywhere.azurecr.io/web:__Build.BuildId__
    ports:
      - "80"

  db:
    ports:
      - "1433"
    image: microsoft/mssql-server-linux
    environment:
      - ACCEPT_EULA=y
      - SA_PASSWORD=yourStrong(!)Password